.tables-list-legend {
    margin-top: 40px;
    text-align: center;
}

.tables-list-admin {
    display: flex;
    flex-wrap: wrap;

    &__reload {
        margin: 0;
        position: absolute;
        top: 30px;
        right: 70px;
    }

    &__reload-toggle {
        display: flex;
        align-items: center;
        position: absolute !important;
        top: 38px;
        right: 150px;

        span {
            margin-right: 20px;
        }
    }
}