.table-food-admin {
    td {
        .ui.image {
            width: 80px;
            height: 80px;
            display: inline-table;
        }

        &.status {
            .icon {
                &.close {
                    color: #f00;
                }

                &.check {
                    color: #008000;
                }
            }
        }
    }
}