$small: 500px;
$medium : 1200;

.client-layout-bg {
    background-color: #F9FAFC;
    border-radius: 15px;
    min-height: 100vh;
    min-width: 100vw;
    padding: 1em 0;
}

.client-layout {
    background-color: #fff;

    &__nav {
        padding-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 2px solid #E9E8EF;

        >span {
            font-weight: bold;
            font-size:large;
            color: #F2A71E;
        }

        &__logo {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: $small){
                .ui.image {
                    width: 30px;
                    height: 30px;
                }
            }
            @media screen and (min-width: $small){
                .ui.image {
                    width: 50px;
                    height: 50px;
                }
            }

            >h1 {
                @media screen and (max-width: $small){
                    margin-left: 5px;
                    font-size: 14px;
                }
                margin-left: 5px;
            }
        }
    }
}