.table-admin {
    margin-top: 2.5em;
    position: relative;
    flex: 0 1 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &:hover {
        opacity: 0.8;
        cursor: pointer;

        >p {
            color: #949495;
        }
    }

    // Notificación de pedidos de una mesa
    .ui.pointing.label {
        margin: 0;
        font-size: 13;
        position: absolute;
        top: 5px;
    }

    svg {
        height: 200px;
        width: 200px;
        margin-bottom: -20px;
        margin-top: -15px;
        margin-left: 10px;
        margin-right: 10px;
        
        &.occupied {
            fill: #E9E8EF;
        }
        &.pending {
            fill: #E9E8EF;
        }
        &.pending-payment {
            fill: #E9E8EF;
        }
    }

    > p {
        border-radius: 20px;
        padding-left: 23px;
        padding-right: 23px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 13px;
        font-weight: bold;
        margin-bottom: -20px;

        &.occupied {
            background-color: #E3B4EA;
            color: #AD40BF;
        }
        &.pending {
            background-color: #97D2F3;
            color: #1778B0;
        }
        &.pending-payment {
            background-color: #AED6C3;
            color: #2A915F;
        }
    }
}